# DESAFIO 1
    # Tarefas
    Carregar os dados:

    Simule os dados em um DataFrame Pandas ou leia de um arquivo CSV.
    Calcular o total de vendas por produto:

    Multiplique a quantidade vendida pelo preço unitário e adicione uma nova coluna Total de Vendas.
    Agrupar por categoria:

    Descubra o total de vendas por categoria.
    Produto mais vendido:

    Identifique o produto com maior quantidade vendida.
    Filtrar vendas recentes:

    Liste apenas as vendas que ocorreram a partir de "2024-12-02".
    Ordenar por lucro:

    Ordene os produtos pelo total de vendas (coluna Total de Vendas) de forma decrescente.
    Salvar o resultado:

    Salve o DataFrame final em um novo arquivo chamado relatorio_vendas.csv.

In [23]:
import pandas as pd

In [24]:
df = pd.read_excel('.\DESAFIO1.xlsx')

In [25]:
df

     Produto    Categoria Data da Venda  Quantidade Vendida  Preço Unitário
0  Produto A  Eletrônicos    2024-12-01                   3           200.0
1  Produto B    Vestuário    2024-12-02                   5            50.0
2  Produto C  Eletrônicos    2024-12-01                   2           150.0
3  Produto D    Alimentos    2024-12-03                  10            10.0
4  Produto E    Vestuário    2024-12-03                   7            80.0

In [26]:
df['Total de Vendas']= df['Preço Unitário'] * df['Quantidade Vendida']

In [27]:
df

,Produto,Categoria,Data da Venda,Quantidade Vendida,Preço Unitário,Total de Vendas
0,Produto A,Eletrônicos,2024-12-01,3,200.0,600.0
1,Produto B,Vestuário,2024-12-02,5,50.0,250.0
2,Produto C,Eletrônicos,2024-12-01,2,150.0,300.0
3,Produto D,Alimentos,2024-12-03,10,10.0,100.0
4,Produto E,Vestuário,2024-12-03,7,80.0,560.0

# Vendas por Categoria

In [28]:
total_vendas_categoria = df.groupby('Categoria')['Total de Vendas'].sum()

In [29]:
total_vendas_categoria

Categoria
Alimentos      100.0
Eletrônicos    900.0
Vestuário      810.0
Name: Total de Vendas, dtype: float64

# Produto mais vendido

In [30]:
produto_mais_vendido = df.groupby('Produto')['Quantidade Vendida'].sum()

In [31]:
produto_mais_vendido= produto_mais_vendido.idxmax()

In [32]:
print(f'O produto mais vendido é: {produto_mais_vendido}')

O produto mais vendido é: Produto D

# Vendas mais Recentes

In [33]:
df['Data da Venda']= pd.to_datetime(df['Data da Venda'])

vendas_recentes = df[df['Data da Venda']>= '24-12-02']

print(f'Vendas mais recentes:\n{vendas_recentes}')

Vendas mais recentes:
     Produto    Categoria Data da Venda  Quantidade Vendida  Preço Unitário  \
0  Produto A  Eletrônicos    2024-12-01                   3           200.0
1  Produto B    Vestuário    2024-12-02                   5            50.0
2  Produto C  Eletrônicos    2024-12-01                   2           150.0
3  Produto D    Alimentos    2024-12-03                  10            10.0
4  Produto E    Vestuário    2024-12-03                   7            80.0

   Total de Vendas
0            600.0
1            250.0
2            300.0
3            100.0
4            560.0

# Ordenar por Produtos de Maior Lucro

In [38]:
df['Data da Venda'] = pd.to_datetime(df['Data da Venda'])

# Formatar a data para o formato 'dd/mm/yyyy'
df['Data da Venda'] = df['Data da Venda'].dt.strftime('%d/%m/%Y')

df_ordenado = df.sort_values('Total de Vendas', ascending=False)

In [39]:
df_ordenado[['Produto','Total de Vendas']]

     Produto  Total de Vendas
0  Produto A            600.0
4  Produto E            560.0
2  Produto C            300.0
1  Produto B            250.0
3  Produto D            100.0

In [40]:
df_ordenado

,Produto,Categoria,Data da Venda,Quantidade Vendida,Preço Unitário,Total de Vendas
0,Produto A,Eletrônicos,01/12/2024,3,200.0,600.0
4,Produto E,Vestuário,03/12/2024,7,80.0,560.0
2,Produto C,Eletrônicos,01/12/2024,2,150.0,300.0
1,Produto B,Vestuário,02/12/2024,5,50.0,250.0
3,Produto D,Alimentos,03/12/2024,10,10.0,100.0

In [41]:
output_file= 'tabela_ordenada.xlsx'
df.to_excel(output_file,index= False)

print(f"DESAFIO 1 SALVO EM {output_file}")

DESAFIO 1 SALVO EM tabela_ordenada.xlsx